<ul>
    <li *ngFor="let product of products">
        <a>
            <div class="image">
                <img [src]="product.imageUrl || 'assets/nophoto.jpg'" alt="Product Image">
            </div>
            <div class="content">
                
                <div class="name">
                    {{product.name}}
                </div>
                
                <div class="description">
                    {{product.description}}
                </div>
                
                <span class="favorite {{product.favorite?'':'not'}}">
                    ❤
                </span>

                <div class="tags">
                    <span *ngFor="let tag of product.tags">
                        {{tag}}
                    </span>
                </div>
                <div class="price">
                    <span>
                        {{product.price|currency}}
                    </span>
                </div>

            </div>
        </a>
    </li>
</ul> 


