header{
  background-color: white;
  padding: 0;
  border-bottom: 1px solid forestgreen;
}

a{
  color: green;
}

a:hover{
  background: green;
  color: white;}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  padding: 1em;
}

nav {
  display: flex; 
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  display: flex;
}

.menu li {
  margin-right: 20px;
}


nav ul{
  list-style-type: none;
  margin: 0;
}

nav ul li a{
  padding: 1em;
  display:flex;
}


.dropbtn:hover {
  background-color: green;
  color: white;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: green;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: green;
  color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.cart {
  order: 2; 
}

.cart a {
  padding: 1em;
  color: green;
  text-decoration: none;
}

.cart a:hover {
  background: green;
  color: white;
  transition: background-color 0.5s;

}

.left-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.app-header .container img {
  width:100px; 
  height: auto;
  margin-right: 10px; 
}

.container .menu .authenticated {
  display: flex; 
  align-items: center; 
}

.container .menu .authenticated > div {
  display: flex; 
  align-items: center; 
  margin-right: 10px; 
}

.container .menu .authenticated .dropdown-product {
  order: 1;
}

.container .menu .authenticated .dropdown-user {
  order: 1;
}

.container .menu .authenticated .cart {
  order: 2;
}



.container .menu .authenticated .admin-icon img {
  width: 30px;
  height: auto; 
}

.container .menu .authenticated .user-profile-icon {
  width: 35px;
  height: auto; 
}

.container .menu .authenticated .cart-icon {
  width: 35px;
  height: auto; 
}


.logout-button {
  padding: 8px 16px;
  background-color: #2e8b57; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #3cb371; 
}

