<div class="change-password-container">
    <div class="form-group">
        <div class="form-outline mb-4">
            <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="minimalUser.firstName" required />
            <label class="form-label" for="firstName">First name</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="minimalUser.lastName" required />
            <label class="form-label" for="lastName">Last name</label>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="email_address" name="email_address" class="form-control" [(ngModel)]="minimalUser.email_address" required />
            <label class="form-label" for="email_address">Email Address</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control" [(ngModel)]="minimalUser.username" required />
            <label class="form-label" for="username">Username</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="registerPassword" name="password" class="form-control" [(ngModel)]="minimalUser.password" required />
            <label class="form-label" for="registerPassword">New Password</label>
        </div>


        <div class="form-outline mb-4">
            <input type="password" id="registerPassword" name="repeat_password" class="form-control" [(ngModel)]="repeat_password" required />
            <label class="form-label" for="registerPassword">Repeat Password</label>
        </div>

        <button type="button" class="btn btn-primary btn-block mb-3" (click)="onSubmit()" [disabled]="!isFormValid()">Change Password</button>
    </div>
</div>
