.date-form {
    width: 80%;
    margin: auto;
  }
  
  .input-group {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }
  
  .input-item {
    flex: 1; /* Each item takes up equal width */
    margin-right: 10px;
  }
  
  .input-item label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-item input {
    width: calc(100% - 10px); /* Adjust input width to fit the container */
  }
  
  button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 22rem;
    width: 20 rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: green;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
    position: relative;

}