<form (ngSubmit)="editUser(user)" #userForm="ngForm">
  
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="editedUser.firstName" required>
    </div>

    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="editedUser.lastName" required>
    </div>


    <div>
       <label for="emailAddress">Email:</label>
       <input type="text" id="emailAddress" name="emailAddress" [(ngModel)]="editedUser.emailAddress" required>
    </div>

    <div>
      <label for="imageur">Image URL:</label>
      <input type="text" id="imageur" name="imageur" [(ngModel)]="editedUser.imageurl">
    </div>

    <button type="submit" [disabled]="userForm.invalid" (click)="editUser(user)">Edit User</button>
  
</form>