<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>



<h1>Create Product</h1>


<form th:action="@{/products/create}" method="post" th:object="${product}" class="px-4">

    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text"  id="name" autofocus="autofocus"
                   class="form-control" required name="name" th:field="*{name}" >
        </div>
    </div>

    <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text"  id="description" autofocus="autofocus"
                   class="form-control" required name="description" th:field="*{description}" >
        </div>
    </div>


    <div class="mb-3 row">
        <label>Category
            <select th:field="${product.category}">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                ></option>
                <p class="error" th:errors="${product.category}"></p>
            </select>
        </label>
    </div>



    <div>
        <button type="submit" class="btn btn-success">Create Product</button>
    </div>
</form>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>