<header class="app-header">
	    <div class="container">
            <a href="#" routerLink="/" class="logo">{{pageTitle}}</a>
            <nav>
                <ul class="menu">
                    <div class="left-buttons">
                        <div class="dropdown-product">
                            <li class="dropdown">
                                <a href="#" class="dropbtn">Products</a>
                                <div class="dropdown-content">
                                    <a href="#" routerLink="/product-create">Create</a>
                                    <a href="#" routerLink="/product-create">My products</a>
                                    <a href="#" [routerLink]="['/product', { user: loggedUser.username }]" routerLinkActive="active">Show All</a>
                                    <a href="#" routerLink="/product-delete">Modify</a>
                                </div>
                            </li>
                        </div>
                        <div class="dropdown-pet">
                            <li class="dropdown">
                                <a href="#" class="dropbtn">Pets</a>
                                <div class="dropdown-content">
                                    <a href="#" routerLink="/pet-create">Create</a>
                                    <a href="#" routerLink="/pet">Show All </a>
                                    <a href="#" routerLink="/pet-delete">Modify</a>
                                </div>
                            </li>
                        </div>
                        <div class="dropdown-user">
                            <li class="dropdown">
                                <a href="#" class="dropbtn">Users</a>
                                <div class="dropdown-content">

                                    <!-- <a href="#" (click)="navigateTo('/user')">User List</a> -->

                                    <a href="#" routerLink="/user">Show All </a>
                                    <a href="#" routerLink="/user-delete">Modify</a>
                                </div>
                            </li>
                        </div>
                        <div class="dropdown-user">
                            <li class="dropdown">
                                <a href="#" class="dropbtn">Categories</a>
                                <div class="dropdown-content">
                                    <a href="#" routerLink="/category">Show All </a>
                                    <a href="#" routerLink="/category-delete">Modify</a>
                                </div>
                            </li>
                        </div>
                    </div>

                    <div class="right-buttons">
                        <div class="cart">
                            <li class>    
                                <a href="#" [routerLink]="['/cart-product', { user: loggedUser.username }]" routerLinkActive="active">Cart</a>
                            </li>
                        </div> 
                        <div class="logged-user">
                            <li class>    
                                <a *ngIf="loggedUser" href="#" routerLink="/aboutme">{{ loggedUser.username }}</a>
                            </li>
                        </div>  
                    </div>  
                </ul>
            </nav>
        </div>
</header>