/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Imbue:opsz,wght@10..100,100..900&family=Inconsolata:wght@200..900&family=Teko:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    font-family: "Caveat";
    font-size: 24px;
}

a{
    text-decoration: none;
}

.mat-snack-bar-container {
    top: 0;
  }