.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr {
    background-color: white; /* Set row background color */
  }
  
  tr:hover {
    background-color: #f5f5f5; /* Change row background color on hover */
  }

  .approve {
    padding: 8px 16px;
    background-color: #2e8b57; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
  }
  
  .approve:hover {
    background-color: #41a46e; 
    border-color: #248b52;
    color: white;
  }

   
  .reject {
    padding: 8px 16px;
    background-color: #d61935;
    color: white;
    border: 1px solid #c61933;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
  }
  
  .reject:hover {
    background-color: #ff696c;
    border-color: #ff699b;
    color: white;
  }