<ul class="products">
    <li *ngFor="let product of products" class="product">
        <a>
            <div class="image">
                <img [src]="product.imageUrl || 'assets/nophoto.jpg'" alt="Product Image">
            </div>
            <div class="content">
                <div class="name">{{product.name}}</div>
                <div class="price">{{product.price | currency}}</div>
            </div>
        </a>
    </li>
</ul>
<div class="button-container">
    <button type="button" (click)="buyProducts(username)">Buy Products</button>
</div>